@import 'media';

.header {
    background-color: #5b1dcd;

    @media @phone-strict {
        background-color: #6916d2;
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5% 0;

        @media @tablet {
            justify-content: space-between;
            margin: 2.4% 0;
        }

        @media @desktop {
            margin: .8% 0;
        }
    }

    &__dropdown {
        width: 15px;
        height: 15px;
    }

    &__address {
        margin: 0 4% 0 0;
        color: white;

        @media @tablet {
           margin-left: 3.7%;
        }

        @media @desktop {
            margin-left: 2.7%;
        }
    }

    &__logo {
        width: 72%;

        @media @tablet {
            width: 44%;
        }

        @media @desktop {
            width: 24%;
        }
    }

    &__search {
        width: 25px;
        height: 25px;
        margin: 0 6.3%;

        @media @tablet {
            margin: 0 3.7%;
        }

        @media @desktop {
            margin: 0 2.7% 0 5.4%;
        }
    }
}
