@import 'global';

.menu {
    @backgroundColor: #262626;
    background-color: @backgroundColor;
    .flexRow;
    justify-content: center;

    @media @phone-strict {
        padding: 1.5% 7%;
        .flexColumn;
    }

    &__item {
        list-style-type: none;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 2% 2% 2% 0;
        margin-right: auto;

        @media @tablet {
            margin-right: 0;
            padding: 2% 2.25%;

            &:hover {
                background-color: darken(@backgroundColor, 10%);
                enable-background: true;
            }
        }

        @media @desktop {
            padding: .7% 2%;
        }
    }

    &__link {
        color: fadeout(white, 20%);
        text-decoration: none;
        font-family: 'PT Sans', sans-serif;
        font-size: 25px;

        @media @tablet {
            font-size: 12px;
        }
    }
}
