<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tam-taram</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/where-to-find-us.css">
    <link rel="stylesheet" href="css/hamburger.css">
    <link rel="stylesheet" href="css/breadcrumbs.css">
    <link rel="stylesheet" href="css/videos.css">
    <link rel="stylesheet" href="css/page.css">
</head>
<body class="page">

<% const menuItems = [
    {title: 'HairCare', link: '#'},
    {title: 'Color', link: '#'},
    {title: 'Styling', link: '#'},
    {title: 'Texture', link: '#'},
    {title: 'Get Inspired', link: '#'},
    {title: 'Social', link: '#'},
    {title: 'News', link: '#'},
    {title: 'About', link: '#'},
    {title: 'Professional', link: '#'}
]; %>

<header id="header" class="header">
    <div class="header__top" id="headerTop">
            <p class="where-to-find-us" id="whereToFindUs">
                <a class="where-to-find-us__link">
                    <span class="where-to-find-us_big">Nearest salon</span>
                    <img class="where-to-find-us_small" src="img/ico_dropdown.svg">
                    <span class="where-to-find-us_second-row" id="whereToFindUsSecondRow">Plush Salon 92101</span>
                </a>
            </p>
        <img id="hamburger" src="img/menu.png" class="hamburger hidden">
        <img class="logo header__logo" src="img/logo.svg">
        <img class="search header__search" id="search" src="img/ico_search.svg">
    </div>

    <div class="header__bottom" id="headerBottom">
        <ul class="menu" id="menu">
            <% menuItems.forEach((item) => { %>
            <li class="menu__item"><a class="menu__link" href="<%= item.link; %>"><%= item.title %></a></li>
            <% }) %>
        </ul>
    </div>
</header>

<% const videoCategories = [
    {
        title: 'Step by step',
        links: ['https://youtu.be/z8M0Fa1JVco',
            'https://youtu.be/Wi2KcdoCuo4',
            'https://youtu.be/8H6dYUgQKB8',
            'https://youtu.be/PZjGrmHdFME',
            'https://youtu.be/_wLGr24VeoI',
            'https://youtu.be/DG4FAU5qmMY']
    },
    {
        title: 'Craft education',
        links: ['https://youtu.be/RmNWNLXmswk',
            'https://youtu.be/-tztXOz8Vc0',
            'https://youtu.be/kUfIVtyydgQ']
    },
    {
        title: 'Inspiration',
        links: ['https://youtu.be/VmmwwzR536g',
            'https://youtu.be/vz0k8O-Ef9Y',
            'https://youtu.be/6oPBFnsqJW8']
    }
]%>

<div class="content">
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="item"><a href='#' class="breadcrumbs__link">Home</a>&nbsp;/&nbsp;</li>
            <li class="item item_red">videos</li>
        </ul>
    </div>

    <h1 class="page-title">Videos</h1>
    <div class="videos">
        <!--<div class="main-video videos__main-video">-->
            <!--<a data-fancybox="gallery" href="https://youtu.be/VmmwwzR536g" >-->
            <!--<video width="960" height="415" src="https://youtu.be/VmmwwzR536g">-->
            <!--</video>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</div>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/menu.js"></script>
<script src="js/Media.js"></script>
</body>
</html>
